.menu{
		height: 40px;
		background: #222327;
		color: #ccc;
	}
	.menu li{
		position: relative;
		list-style: none;
		float: left;
		display: block;
		height: 40px;
	}
	
	.menu li a{
		display: block;
		padding: 0 20px;
		text-decoration: none;
		font-size: 1em;
		color : #aaa;
	}
	.menu li:hover > a { color: #dc2276; }

	.menu ul{ /* 드롭다운*/
		position: absolute;
		top:40px;
		left: 0;
		opacity:0;
		background: #1f2024;
	}
	.menu li:hover > ul {
		opacity:1
	}
	.menu ul li{
		height:0;
		overflow: hidden;
		padding:0;		
	}
	.menu li:hover > ul li{
		height:40px;
		overflow: visible;
		padding:0;
	}
	
	.menu ul li a {
		width: 100px;
		border_bottom: 1px solid #353539; 
	}
	.menu ul li:last-child a { border: none; }
	



	/* 
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
 	*/