	a:link, a:visited, a:active, a:hover { /*기본색 없애려고 한건데 소용이 없다*/	
		color: #aaa; 
		text-decoration: none;
	}
	body{
		background-color: #1c1d21;
		color:#aaa;
		font-family: arial; 
	}
	header img{
		display: block;
	}
	/*.header_space{
		height: 5px;
		background: #222428;
	}*/
	.space_20{
		margin-top: 20px;
	}
	.space_30{
		margin-top: 30px;
	}
	.center{
		text-align:center;
	}
	
	/*general effect*/
	.display_none{
		display: none;
	}
	.display_block{
		display: block;
	}
	.font_weight_normal{
		font-weight: normal;
	}
	
	/**********  메뉴  **********/
	.nav{
		background: #222428;
	}
	.menu{
		height: 50px;
		background: #222428;
		color: #aaa;
		z-index: 100;
		position: absolute;/*addon*/
	}
	.menu_padding{
		/*padding: 0 9px 0 9px;*/
	}
	
	.menu li{
		/*position: relative;*/
		list-style: none;
		/* float: left; */
		/*display: block;*/  /*display: inline;*/
		height: 50px;
	}
	/*addon*/
	.menu .menu_left{
		float: left;
	}
	.menu .menu_right{
		float: right;
	}
	/* step 3 -edit*/
	.menu .menu_left a {
	    display: block;
	    padding-left: 20px;
	    line-height: 50px;
	    text-decoration: none;
	    font-weight: bold;
	    font-size: 0.9em;
	    color: #f3f3f3;
	    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	}
	.menu .menu_right a {
	    display: block;
	    padding-right: 20px;
	    line-height: 50px;
	    text-decoration: none;
	    font-weight: bold;
	    font-size: 0.9em;
	    color: #f3f3f3;
	    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	}
	
	/* .menu li:hover > a { color: #dc2276; }  note때문에*/

 	/* step 4*/
	.menu ul{
		position: absolute;
		top:50px;
		left: 0;
		opacity:0;
		background: #222428;
	}
	.menu li:hover > ul {
		opacity:1
	}
	.menu ul li{
		height:0;
		overflow: hidden;	
	}
	.menu li:hover > ul li{
		height:40px;
		overflow: visible;
	}
	.menu .menu_left ul li a {
		line-height: 40px;
		font-weight: normal;
	    font-size: 13px;
	    color: #aaa;
	    width: 100px;
		border-bottom: 1px solid #222428;/*#26282e;*/
		padding-right: 20px; /*addon*/
	}
	.menu ul li:last-child a { border-bottom: 6px solid #222428; }
	
	.menu img{
		width: 15px; 
		height: 15px;
		display: inline;
		position:relative;
		top:2px;

	}
		
	/**********  메뉴끝  **********/
	
	.navshadow{
		color: #1d1f23; /*js가 빈 id를 제어못해서, 점 하나 찍음. 배경에 뭍히게*/
		height: 5px;
		background: url(http://elecuchi.cafe24.com/s_web/image/navshadow_tile.png) repeat-x;
		z-index: 99;
	}
	.nav_sub_cate_add{		
		font-size: 0.8em;
		display: inline;
	}	
	
	
	.snsbox{
		border:0;
		text-align: left;
	}
	.snsbox td{
		margin:0;
		padding:0;
		padding-right:15px;	
	}
	.snsbox img{
		width:40px;
		height:40px;
	}
	article{
		padding: 0px 15px 0px 15px; /*그래픽때문에 외부에서한번 적용*/
		letter-spacing: -1px;
	}
	/*article ul li{*/
	.postbox{
		margin-top: 20px;
		margin-bottom: 70px;
	}
	/*article ul li:last-child{ 
		margin-top: 20px;
		margin-bottom: 20px;
	}*/
	.morebox{
		position: relative;
		top:-20px;
		/*width:100%; */
		border: 1px dotted #444;
		text-align: center;
		/*padding-top: 25px;*/
		/*padding-bottom: 20px;*//*마지막 포스트 여백이 너무 많아서*/
		margin: 0px 5px 0px 5px;/*그래픽때문에 내부에서 각자적용*/
	}
	.morebox_dev{
		position: relative;
		top: -20px;
		border: 1px dotted #975500;/*흐린노랑 /*진노랑은 #b46500;*/
		text-align: center;
		/*padding-top: 25px;*/
		margin: 0px 5px 0px 5px;
	}
	
	.morebox .btntext{
		line-height: 50px;
		color:#aaa;
	}
	.morebox_dev .btntext{
		color:#b46500;
		line-height: 50px;
	}
	
	.title h2{
		padding: 0px 5px 0px 5px; /*그래픽때문에 내부에서 각자적용*/
		margin-bottom: 2px;
		font-size: 1em;
		font-weight: bold;
		color:#DC2276;
	}
	.worked{
		padding: 0px 5px 0px 5px; /*그래픽때문에 내부에서 각자적용*/
		margin-bottom: 2px;
		font-size: 0.7em;
		color: #666666;
		font-family: 'Merriweather', serif;
	}
	.text{
		padding: 0px 5px 0px 5px; /*그래픽때문에 내부에서 각자적용*/
		font-size: 0.9em;
		line-height: 170%;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.graphic, .graphic_noeffect{
		padding: 0px 5px 0px 5px; /*여기다 걸러는게아니었는데 아래거 때문에*/
		margin-top: 15px;
		margin-bottom: 15px;
		text-align: center;
	}
	.graphic_left{
		padding: 0px 5px 0px 5px; /*여기다 걸러는게아니었는데 아래거 때문에*/
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.postbox .graphic ul.graphic_ul li{
		margin-bottom: 5px;
		text-align: center;
	}
	.postbox .graphic ul.graphic_ul li:last_child{
		margin-bottom: 0px; 
		/*이걸로 이미지와 텍스트가 뜨는것없앰*/
	}
	.post .graphic ul.graphic_ul li:last_child{
		margin-bottom: 0px; 
		/*이걸로 이미지와 텍스트가 뜨는것없앰*/
	}
	.graphic img, .graphic_left img, .graphic_noeffect img{	/*막상 여기에 5px이 먹히지 않아서*/
		border-radius:4px;
		max-width: 100%;
	}
	
	/*
	.movie{
		text-align: center;
	}
	iframe{
		max-width: 100%;
	}*/
	
	.date{
		font-family: 'Merriweather', serif;
	}
	

	/*페이지네이션*/
	.pagenation{
		text-align: center;
		margin-bottom: 40px;
	}
	.pagenation_each{
		font-size: 1em;
		color: #aaa;
		padding-right: 16px;
		padding-left: 16px;
		font-weight:bold;
	}
	.pagenation_nav{
		font-size: 0.9em;
		color: #555;
		padding-right: 16px;
		padding-left: 16px;
	}
	.pagenation .sel{
		color: #dc2276;
	}
	.pagenation_each:hover {
		color: #dc2276;
	}
	.border_1{
		border-top: 1px solid #0f0f0f;/*#26282e;	*/
	}
	.border_2{				
		border-top: 1px dashed #26282e;/*#3e404b;	*/
	}
	.post_hyper{
		color: #eee;
		border-bottom: dotted #aaa 1px;
	}
	
	/*개발일지 메뉴*/
	.dev_menu_ym{
		display: block;
		margin-bottom:2px;
		font-size:0.9em;
	}
	.dev_menu_y{
		float: left;
		width:40px;
		/*background-color: #1d1f23; /*배경에묻히게*/
	}
	.dev_menu_m{
		margin-left:65px;
		/*background-color: #1d1f23; /*배경에묻히게*/
	}
	.dev_menu_m_oneline{
		height:44px;
		border-bottom: 1px dotted #25272c;
	}
	/*.dev_menu_m_oneline:hover{
		background-color: #2e3136; 
	}*/
	.dev_menu_m_oneline:touchstart{
		background-color: red; 
	}
	.dev_menu_y, .dev_menu_m_oneline div{
	    line-height: 44px;
	}
	.dev_menu_m ul li ul li{
	/*.dev_menu_m_milestone{*/
		position: relative;
		top: 22px;
		left: -18px;
		border-left: 1px solid #b46500;
		height: 45px;
		float: left;
		/*display: inline; 이거하면 하이트가 안먹음*/
	}
	/*.dev_menu_m ul li:last-child ul li{ */
	.dev_menu_ym:last-child ul li:last-child ul li{ 
		border-left: 1px solid #1d1f23 /*배경에묻히게*/
	}
	.dev_menu_ym:last-child li:last-child{
		margin-bottom:40px;
	}
	.dev_menu_m_period, .dev_menu_m_text{
		float: left;
		position: relative; /*마일스톤 첨부후 밀린것 당기기*/
		left: -12px;		/*마일스톤폭*/
		margin-right: 15px;
	}
	.dev_menu_m_period{
		font-family: 'Merriweather', serif;
		font-size: 1em;
	}
	.dev_menu_m_btn{
		float: right;
	}
	.dev_menu_m_btn img{
		float: right;
		width:70px;
		height:44px;
	}
	.year{
		font-family: 'Merriweather', serif;
		font-size: 1em;
	}
	.dev_menu_m_milestone img{
		width:12px;
		height:45px;
		position: relative;
		top: -22px;
		left: -6px;
	}
	
	/*개발일지 본문*/
	.dev_date{
		position: relative;
		left:-5px;
		float: left;
		width: 40px; 
		font-family: 'Merriweather', italic, serif;
		font-size: 2em;
		letter-spacing: -5px;
		z-index: 10;
	}
	.date_m{
		color: #47484a;
		float: left;
		position:relative;
		top: -5px;
		/*font-family: 'Merriweather', italic, serif;*/
	}
	.date_d{
		color: #b36500;
		float: right;
		position:relative;
		top: -30px;
		/*font-family: 'Merriweather', italic, serif;*/
	}	
	.dev_con{
		padding-top: 24px;
		margin-left: 40px;
		/*background-color: #1e1f22;보일듯말듯이*/
	}
	.dev_con .title h2 {
		color: #b36500;
	}
	.dev_con .title h2 {
		color: #b36500;
	}
	
	.devintro_hyper, .devintro_hyper:hover{
		color: #b36500;
		border-bottom: dotted #b36500 1px;
	}
	/*동영상클립*/
	.movieclip{
		display: none;
	}
	.movieclip_mob{
		margin-top:30px;
		text-align: center;
	}
	.movieclip_mob video{
		max-width:280px;
	}
	
